/* sidebar */
body {
	font-family: Arial, sans-serif
}

aside {
	width: 40%;
}
img {
	width: 100%;
}

div {
	border: 3px solid green;
	margin-top: 5px;
	padding: 6px;
}

.button {
	text-decoration: none;
	text-align: center;
	background-color: green;
	padding: 5px 10px;
	color: white;
}

.button:hover {
	background-color: lightgreen;
}

div p {
	padding: 2px;
}

